@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

/* Define main colors */
:root {
    --dark-blue: #1f2937;
    --white: #f9faf8;
    --grey: #e5e7eb;
    --button-color: #3883F6;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16;
}

*,
*:before,
:after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

li {
    text-decoration: none;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--grey);
}

p {
    color: var(--grey);
}

body {
    display: flex;
    flex-direction: column;

}

header {
    display:flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
    height: 50px;
}

button {
    width: 100px;
    padding: 7px 8px;
    background-color: var(--button-color);
    color: var(--white);
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-radius: 5px;
}

h1 {
    color: var(--white);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 0;
}

.header-menu {
    display:flex;
    gap: 16px;
    align-items: center;
    padding-right: 5rem;
}

a:hover {
    color: var(--button-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    height: 80px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
    display: flex;
    padding-left: 9rem;
}

.hero {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-left: 9rem;
}

.hero-left p {
    padding: 20px 0;
}

.hero-right {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 5rem;
    max-width: 480px;
    min-width: 212px;
    padding: 1rem;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 70px;
}

.info-header {
    font-size: 24px;
    padding-top: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image {
    width: 150px;
    height: 150px;
    border: 3px solid var(--button-color);
    border-radius: 10px;
    flex-shrink: 0;
}

.text {
    text-align: center;
    display: flex;
}

.text p {
    color: var(--dark-blue);
    font-weight: 200;
}

.quote-section {
    display: flex;
    height: 200px;
    background-color: var(--grey);
    margin-top: 50px;
    flex: 1;
    flex-wrap: wrap;
    padding: 150px;
}

.quote {
    font-size: 36px;
    width: 100%;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-top: 15px;

}